.projects-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-project {
  width: 100%;
}

.card-customer {
  width: 100%;
}

.table-projects {
  overflow: auto;
}

.search-bar-task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  font-weight: normal;
  align-items: start;
  z-index: 99;
}

@media (min-width: 640px) {
  .projects-page {
    flex-direction: row;
  }

  .card-project {
    flex: 2;
  }

  .card-customer {
    flex: 1;
  }

  .search-bar-task {
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }
}
